version: "3.8"

services:
  backend:
    build: .
    container_name: express_backend
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - DB_HOST=${MYSQL_HOST}
      - DB_USER=${MYSQL_USER}
      - DB_PASS=${MYSQL_PASSWORD}
      - DB_NAME=${MYSQL_DATABASE}
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    command: ["node", "server.js"]

  db:
    image: mysql:latest
    container_name: mysql_dbb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE} # Uses uxploreaudit
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
